<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/the-game/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/the-game/stylesheets/pygment_trac.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/the-game/stylesheets/print.css" media="print">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>{{ page.title }}</title>
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1><a href="/the-game/index.html">Weekly D&amp;D Game</a></h1>
          <h2>Something, something, nerds...</h2>
        </header>

        <hr>

          {{ content }}

        <footer>
          Weekly D&amp;D Game is maintained by the players and the GM<br>
          Tactile theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.
        </footer>

        
      </div>
    </div>
  </body>
</html>
